@font-face
{
	font-family: 'Imagine';
	font-style: normal;
	src: url('../fonts/imagine_font.woff') format('woff');
}
#pong-title
{
	font-family: 'Imagine', monospace;
	font-size: 36pt;
}
#pong-version {
	font-size: 12pt;
}
#pong-wrapper
{
	text-align: center;
}

